<% layout('layouts/boilerplate') %>

    <h1 class="text-center">Sign In</h1>
    <div class="d-flex justify-content-center">
        <form action="/login" class="validated-form col-6" novalidate method="post">
            <div class="mb-3">
                <label class="form-label" for="username">Username</label>
                <input class="form-control" type="text" id="username" name="username" required>
            </div>
            <div class="mb-3">
                <label class="form-label" for="password">Password</label>
                <input class="form-control" type="password" id="password" name="password" required>
            </div>
            <button class="btn btn-success">Sign In </button>
        </form>
    </div>